* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}


#recipe-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  
}
body {
  background-color: #A8DF8E;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Teko", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.button {
  border-radius: 6px;
}
button{
  border-radius: 6px;
  margin-top: 30px;
}

.class-img {
  width: 300px;
 border:solid black;
 border-radius: 20px;
 
  
}

.recipe-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  /* margin-top: 20px; */
  padding: 40px;
  border: solid black;
  background-color: #F3FDE8;
}
.total-count{
  text-align: center;
  padding:30px;
}
#app{
display: grid;
grid-template-columns: 1fr 1fr;
}