* {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.left {
  /* display: flex;
    border: solid white;
    width: 250px;
    padding-left: 20px; */
}
#recipe-form {
  /* display: flex;
    flex-direction: column;
    gap: 10px;
   padding-left: 20px;
   padding-top: 20px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
body {
  background-color: #feffac;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Teko", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.button {
  border-radius: 6px;
}
button{
  border-radius: 6px;
  margin-top: 30px;
}

.class-img {
  width: 300px;
 
  
}

.recipe-card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
  margin-top: 20px;
  border: solid white;
  background-color: azure;
}
.total-count{
  text-align: center;
  padding:30px;
}